@charset "utf-8";

@font-face {
    font-family: 'breuertextregular';
    src: url('fonts/breuertext-regular-webfont.eot');
    src: url('fonts/breuertext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/breuertext-regular-webfont.woff') format('woff'),
         url('fonts/breuertext-regular-webfont.ttf') format('truetype'),
         url('fonts/breuertext-regular-webfont.svg#breuertextregular') format('svg');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'breuertextmedium';
    src: url('fonts/breuertext-medium-webfont.eot');
    src: url('fonts/breuertext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/breuertext-medium-webfont.woff') format('woff'),
         url('fonts/breuertext-medium-webfont.ttf') format('truetype'),
         url('fonts/breuertext-medium-webfont.svg#breuertextmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINOTRegular';
    src: url('fonts/dinot-webfont.eot');
    src: url('fonts/dinot-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinot-webfont.woff') format('woff'),
         url('fonts/dinot-webfont.ttf') format('truetype'),
         url('fonts/dinot-webfont.svg#DINOTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**** LAYOUT ****/

html, body, #wrap {
    min-height: 100%;
    width:100%;
	height: 100%;
}

html>body, html>body #wrap {height: auto;}

* {
	margin:0;
	padding:0;
}

a img {border:none;}
.left {float:left;}
.right {float:right;}

.clearfix {*zoom: 1;}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after, .clear {clear: both;}

body {
	background:#fff;
	color:#626a71;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;	
}

#wrap {position:absolute;}

.container {
	width:986px;
	margin:0 auto;
}

/**** TYPOGRAPHY ****/

h1, h2, h3 {
	font-weight:normal;
	font-family: 'breuertextmedium';
	color:#830025;
}

h1 {
	font-size:50px;
	line-height:36px;
	margin-bottom:30px;
}

h3 {
	font-size:20px;
	line-height:24px;
	margin-bottom:12px;
}

h5 {
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	color:#830025;
	margin-bottom:18px;
}

h6 {
	font-weight:bold;
	color:#830025;
	font-size:12px;
}

.main .container > h3 {
	margin:0 0 0 29px;
	color:#626a71;
	font-size:21px;
	font-style:italic;
	clear:both;
	padding-top:30px;
}

p {margin-bottom:18px;}

.article ul {
	margin-bottom:18px;
	list-style:none;
	padding-left:10px;
}

.article li {
	padding-left:27px;
	background:url(../images/bullet.png) left 7px no-repeat;
}

.article a, .article a:visited {
	text-decoration:underline;
	color:#626a71;
}

.article a:hover {
	text-decoration:none;
	color:#830025;
}

.contact {font-size:13px;}

.contact .left {width:40%;}

.contact ul {
	list-style:none;
	margin:36px 0 0;
	padding:0;
	overflow:hidden;
	display:table;
	width:100%;
}

.contact li {
	padding:0;
	background:none;
	border-left:1px solid #dedede;
	padding:0 18px;
	display:table-cell;
	*float:left;
}

.contact li:first-child {
	padding-left:0;
	border:none;
}

.contact li:last-child {padding-right:0;}

.contact h3 {margin:0;}

small {
	font-size:12px;
	display:block;
	margin:-7px 0 7px;
}

/**** FORM ELEMENTS ****/

fieldset {border:none;}

label {
	text-align:right;
	font-family: 'breuertextmedium';
	line-height:24px;
	font-size:14px;
	white-space:nowrap;
	outline:none;
	font-weight:normal;
}

label span, small span {
	font-family:Arial, Helvetica, sans-serif;
	color:#830025;
	font-size:14px;
}

input[type=text], input[type=password], select, textarea {
	border:1px solid #d8d8d8;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding:6px 12px 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:14px;
	color:#8e9399;
	background:#fff;
	width:100%;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-box-shadow: inset -2px 2px 4px 0px rgba(0, 0, 0, .12);        
    box-shadow: inset -2px 2px 4px 0px rgba(0, 0, 0, .12);
}

:root input[type=text], :root input[type=password], :root select, :root textarea {padding-bottom:6px\9;}

select {padding:4px;}

textarea {
	resize:vertical;
	overflow:auto;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {border-color:#830025;}

input[type=button], input[type=submit], button, .button {
	border:none;
	text-decoration:none;
	display:inline-block;
	*display:inline;
	padding:0 11px 2px;
	cursor:pointer;
	outline:none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	font-family: 'breuertextmedium';
	font-size:14px;
	line-height:18px;
	line-height:26px\9;
	*line-height:26px;
	height:26px;
	color:#fff;
	text-shadow: -1px 1px 2px rgba(0,0,0,.4);
}

.no-cssgradients input[type=button], .no-cssgradients input[type=submit], .no-cssgradients button, .no-cssgradients .button {
	background:#b30839 url(../images/button-bg.gif) left bottom repeat-x;
}

.cssgradients input[type=button], .cssgradients input[type=submit], .cssgradients button, .cssgradients .button {
	background: -moz-linear-gradient(top,  #b30839 0%, #820025 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b30839), color-stop(100%,#820025));
	background: -webkit-linear-gradient(top,  #b30839 0%,#820025 100%);
	background: -o-linear-gradient(top,  #b30839 0%,#820025 100%);
	background: -ms-linear-gradient(top,  #b30839 0%,#820025 100%);
	background: linear-gradient(to bottom,  #b30839 0%,#820025 100%);
}

input[type=button]:hover, input[type=submit]:hover, button:hover, .button:hover {background:#99042e;}

input[type=checkbox], input[type=radio] {
	vertical-align:middle;
	margin-right:4px;
	position:relative;
	top:-2px;
	*top:0;
}

.formRow {margin-bottom:9px;}

.sidebar input[type=text], .sidebar textarea {*width:244px;}

/**** HEADER ****/

.header {
	border-bottom:1px solid #fff;
	padding-top:19px;
	position:relative;
	z-index:1;
	overflow-x:hidden;
	min-width:986px;
}

.cssgradients .header {
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 35%, #efefef 65%, #e8e8e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(35%,#fbfbfb), color-stop(65%,#efefef), color-stop(100%,#e8e8e8));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 35%,#efefef 65%,#e8e8e8 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 35%,#efefef 65%,#e8e8e8 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 35%,#efefef 65%,#e8e8e8 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 35%,#efefef 65%,#e8e8e8 100%);
	background-size:auto 27px;
	background-position:left bottom;
	background-repeat:repeat-x;
}

.no-cssgradients .header, .no-backgroundsize .header {background:url(../images/header-bg.gif) left bottom repeat-x;}

.header .container > .right {
	margin:63px 22px 0 0;
	z-index:10;
	position:relative;
}

.header h3 {
	float:left;
	margin:0 20px 0 0;
}

.header .container > .right ul {
	float:left;
	list-style:none;
	font-size:0;
	margin-top:5px;
}

.header .container > .right ul li {
	display:inline;
	font-size:11px;
}

.header .container > .right ul li:first-child {border-right:1px dotted #c0c0c0;}

.header .container > .right ul li a, .header .container > .right ul li a:visited {
	display:inline-block;
	color:#8e9399;
	text-decoration:none;
	outline:none;
	padding:0 8px;
}

.header .container > .right ul li:first-child a {
	padding-left:16px;
	background:url(../images/icon-user.png) left top no-repeat;
}

.header .container > .right ul li a:hover {color:#830025;}

.menu {
	margin-top:12px;
	border-bottom:3px solid #810025;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-family: 'breuertextmedium';
	font-size:16px;
	text-shadow: 0px 1px 2px #fff;
	position:relative;
	z-index:10;
}

.no-cssgradients .menu {background:#d9d9d9 url(../images/menu-bg.gif) left top repeat-x;}

.cssgradients .menu {
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #f2f2f2 3%, #efefef 30%, #e3e3e3 53%, #e0e0e0 55%, #dadada 70%, #d9d9d9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(3%,#f2f2f2), color-stop(30%,#efefef), color-stop(53%,#e3e3e3), color-stop(55%,#e0e0e0), color-stop(70%,#dadada), color-stop(100%,#d9d9d9));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f2f2f2 3%,#efefef 30%,#e3e3e3 53%,#e0e0e0 55%,#dadada 70%,#d9d9d9 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#f2f2f2 3%,#efefef 30%,#e3e3e3 53%,#e0e0e0 55%,#dadada 70%,#d9d9d9 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#f2f2f2 3%,#efefef 30%,#e3e3e3 53%,#e0e0e0 55%,#dadada 70%,#d9d9d9 100%);
	background: linear-gradient(to bottom,  #f8f8f8 0%,#f2f2f2 3%,#efefef 30%,#e3e3e3 53%,#e0e0e0 55%,#dadada 70%,#d9d9d9 100%);
}

#nav {
	list-style:none;
}

#nav li {float:left;}

#nav li a, #nav li a:visited {
	display:block;
	text-decoration:none;
	outline:none;
	color:#626a71;
	background:url(../images/nav-separator.gif) right bottom no-repeat;
	padding:13px 16px 10px;
}

#nav li:first-child a {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

#nav li.current a {
	color:#fff;
	text-shadow: 0px 1px 2px #333;
}

.no-cssgradients #nav li.current a {background:#820025 url(../images/nav-hover.gif) left top repeat-x;}

.cssgradients #nav li.current a {
	background: -moz-linear-gradient(top,  #98032e 0%, #820025 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98032e), color-stop(100%,#820025));
	background: -webkit-linear-gradient(top,  #98032e 0%,#820025 100%);
	background: -o-linear-gradient(top,  #98032e 0%,#820025 100%);
	background: -ms-linear-gradient(top,  #98032e 0%,#820025 100%);
	background: linear-gradient(to bottom,  #98032e 0%,#820025 100%);
}

#nav li a:hover {color:#830025;}
#nav li.current a:hover {color:#fff;}

.search {
	float:right;
	padding:9px 30px 0 0;
}

.search label {
	line-height:26px;
	font-size:16px;
	float:left;
}

.search input[type=text] {
	width:140px;
	float:left;
	border-right:none;
	-webkit-border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-bottomright:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	padding:5px 12px 4px;
	margin-left:10px;
}

:root .search input[type=text] {padding-bottom:5px\9;}

.search input[type=submit] {
	width:27px;
	height:25px;
	padding:0;
	background:url(../images/doSearch.png) left top no-repeat;
	font-size:0;
	text-indent:-9999px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.header .watermark, .header .watermark2 {
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-80px;
}

.header .watermark2 {margin-left:266px;}

/**** MAIN ****/

.main {
	background:url(../images/red-bg.jpg) center top repeat-x;
	padding-bottom:70px;
	position:relative;
	z-index:0;
}

.main .container {
	background:#fff;
	position:relative;
}

.shadows {
	position:absolute;
	width:100%;
	height:180px;
	top:0;
	left:0;
	z-index:-1;
	-webkit-box-shadow:  0px 0px 12px 4px #000000;        
    box-shadow:  0px 0px 12px 4px #000000;
}

.sidebar {
	width:270px;
	padding:23px 29px 0;
	min-height:450px;
}

.sideMenu {
	list-style:none;
	border-bottom:1px dotted #cecece;
	font-family: 'breuertextmedium';
	font-size:14px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sideMenu li {border-top:1px dotted #cecece;}

.sideMenu li span {
	display:block;
	color:#820025;
	padding:6px 22px 7px 0;
	background:url(../images/sideNav-arrow.gif) right top no-repeat;
	cursor:pointer;
	outline:none;
}

.sideMenu li.open span {background-position:right -32px;}

.sideMenu ul {
	list-style:none;
	font-family: 'breuertextregular';
	padding-left:10px;
	border-top:1px dotted #cecece;
}

.sideMenu ul li:first-child {border:none;}

.sideMenu a, .sideMenu a:visited {
	display:block;
	text-decoration:none;
	padding:6px 0 7px 30px;
	color:#626a71;
	background:url(../images/side-arrow.png) 5px center no-repeat;
}

.sideMenu a:hover {color:#820025;}

.figure {margin-bottom:18px;}

.figure.shdw {
	padding-bottom:14px;
	margin-bottom:4px;
	background:url(../images/figure-shadow.jpg) center bottom no-repeat;
}

.figure img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.content {	
	padding:23px 29px;	
}

.sidebar + .content {
	width:599px;
	border-right:1px solid #dddfe0;
	float:left;
}

.columns {
	border:none;
	width:658px;
	padding:0;
}

.column {
	float:left;
	width:270px;
	padding:23px 29px;
	border-right:1px solid #dddfe0;
}

.testimonials > div {
	border-bottom:1px dotted #d0d0d0;
	margin-bottom:15px;
	padding:22px 0 11px 20px;
	background:url(../images/quote-left.png) left top no-repeat;
}

.testimonials div div {
	padding:0 28px 8px 0;
	background:url(../images/quote-right.png) right bottom no-repeat;
}

.author {
	font-weight:bold;
	color:#830025;
}

.article .services, .services ul {
	margin:0;
	padding:0;
}

.services {border-top:1px dotted #d0d0d0;}

.services ul {
	padding-left:42px;
	border-bottom:1px dotted #d0d0d0;
	width:557px;
}

.services li {
	padding:0;
	background:none;
}

.services li > span {
	display:block;
	font-family: 'breuertextmedium';
	font-size:24px;
	line-height:24px;
	color:#820026;
	padding:11px 0;
	border-bottom:1px dotted #d0d0d0;
	cursor:pointer;
	background:url(../images/sideNav-arrow.gif) right 8px no-repeat;
}

.services .open > span {background-position:right -25px;}

.services ul li > span {
	font-size:19px;
	color:#626a71;
}

.services li div {border-bottom:1px dotted #d0d0d0; width:557px;}

.services ul li:last-child div, .services ul li:last-child span {border-bottom:none;}

.services ul li:last-child div {border-top:1px dotted #d0d0d0;}

.services p, .services dl {margin:18px 0;}

.services dt {
	float:left;
	font-weight:bold;
	clear:both;
	width:50px;
	margin-bottom:6px;
}

.services dd {overflow:hidden; margin-bottom:6px;}

/**** FOOTER ****/

.footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	font-family: 'DINOTRegular';
	color:#ababab;
	padding:9px 0 10px;
	border-top:4px solid #820025;
}

.no-cssgradients .footer {background:#292a35 url(../images/footer-bg.gif) left top repeat-x;}

.cssgradients .footer {
	background: -moz-linear-gradient(top,  #101117 0%, #23242d 28%, #292a35 42%, #292a35 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101117), color-stop(28%,#23242d), color-stop(42%,#292a35), color-stop(100%,#292a35));
	background: -webkit-linear-gradient(top,  #101117 0%,#23242d 28%,#292a35 42%,#292a35 100%);
	background: -o-linear-gradient(top,  #101117 0%,#23242d 28%,#292a35 42%,#292a35 100%);
	background: -ms-linear-gradient(top,  #101117 0%,#23242d 28%,#292a35 42%,#292a35 100%);
	background: linear-gradient(to bottom,  #101117 0%,#23242d 28%,#292a35 42%,#292a35 100%);
}

.copyright {
	float:left;
	margin:0 29px;
}

.footer ul {
	list-style:none;
	float:left;
	font-size:0;
}

.footer li {
	display:inline;
	font-size:12px;
}

.footer li a, .footer li a:visited {
	display:inline-block;
	padding:0 10px;
	text-decoration:none;
	color:#ababab;
	outline:none;
}

.footer li a:hover {color:#fff;}